Package: com.shajon.fbplus
Name: Facebook Plus
Version: 1.1.0
Architecture: iphoneos-arm64
Description: Privacy and enhancement tweak for Facebook with Reels and Stories downloading, feed controls, Ghost Mode, and customization.
Maintainer: ttlongdl
Author: S. SHAJON
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Tag: role::hacker
