Package: com.shajon.fbplus
Name: Facebook Plus
Version: 1.0.1-4
Architecture: iphoneos-arm64
Description: Browse stories privately, confirm before liking, and quieten the feed.
Maintainer: S. SHAJON
Author: S. SHAJON
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Tag: role::hacker
